<div class="row">
	<h1 class="text-center">BEHIND THE SCENE</h1>
	<div class="col-md-12 well" style="margin-top: 30px">
		<div class="col-md-4">
			<p class="lead">Enter keywords:</p>
			<input class="form-control" type="text" placeholder="keywords" ng-model="query">
			<br>
			<button class="btn btn-primary" ng-click="crawl()">Crawl</button>
			<p ng-show="is_loading1">Loading. . .</p>
		</div>
		<div class="col-md-8">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">Judul</th>
						<th class="text-center">URL</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="url in urls">
						<td><a href="" ng-click="get_url_news(url.url)">{{url.title}}</a></td>
						<td><a href="{{url.url}}">{{url.url}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-12 well" style="margin-top: 30px">
		<div class="col-md-4">
			<p class="lead">Enter URL:</p>
			<input class="form-control" type="text" placeholder="URL" ng-model="news_now.url">
			<br>
			<button class="btn btn-primary" ng-click="content()">Extract</button>
			<button class="btn btn-success" ng-click="sentiment()">Sentiment</button>
			<button class="btn btn-warning" ng-click="keyword()">Keyword</button>
			<button class="btn" ng-click="get_summ()">Summary</button>
			<p ng-show="is_loading2">Loading. . .</p>
			<br>
			<p>
				<select class="form-control" ng-model="news_temp.id_metric">
					<option value="1">Politic</option>
					<option value="3">Economy</option>
					<option value="2">Social</option>
					<option value="4">Technology</option>
					<option value="5">Legal</option>
					<option value="6">Environment</option>
				</select>
				<br>
				<button class="btn btn-success" ng-click="save_news()">Save</button>
			</p>
		</div>
		<div class="col-md-8">
			<p>Main Text:</p>
			<textarea class="form-control" rows="6">{{content_news.text}}</textarea>
			<br>
			<div class="col-md-6" style="height: 250px" id="gpc-box">
			</div>
			<div class="col-md-6">
				<p><b>Sentiment:</b> <span ng-show="is_loading3">Loading...</span><span ng-show="!is_loading3">{{sentiment_news.docSentiment.type}}</span></p>
				<p><b>Keywords:</b> <span ng-show="is_loading4">Loading...</span><span class="label {{get_label(sentiment_news.docSentiment.type)}}" ng-show="!is_loading4">{{keyword_news.keywords[0].text}}</span></p>
				<span><b>Summary:</b></span>
				<p>{{summ_news}}</p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('#gpc-box').highcharts({
    		chart: {
				type: 'column'
			},
			title: {
				text: ''
			},
			xAxis: {
				categories: ['Positive', 'Neutral', 'Negative']
			},	
			yAxis: {
				title: {
					text: 'Jumlah'
				}
			},
			series: [{
				name: 'Sentiment',
				data: [0, 1, 4],
				pointWidth: 20
			}],
			plotOptions: {
				column: {
					colorByPoint: true,
					colors: [
						'#27ae60',
						'#3498db',
						'#c0392b'
					],
				}
			}
		});
	});
</script>