<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">PESTLE DASHBOARD</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3 class="text-center">Politic</h3>
		<div class="col-md-12 well">
			<highchart config="chart_pol" style="height: 250px"></highchart>
			<div style="margin-top: 15px">
				<span ng-repeat="berita in get_per_factor(1)"><span class="label {{get_label(berita.sentiment)}}">{{berita.keyword}}</span></span> 
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="text-center">Economy</h3>
		<div class="col-md-12 well">
			<highchart config="chart_eco" style="height: 250px"></highchart>
			<div style="margin-top: 15px">
				<span ng-repeat="berita in get_per_factor(3)"><span class="label {{get_label(berita.sentiment)}}">{{berita.keyword}}</span></span>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="text-center">Social</h3>
		<div class="col-md-12 well">
			<highchart config="chart_soc" style="height: 250px"></highchart>
			<div style="margin-top: 15px">
				<span ng-repeat="berita in get_per_factor(2)"><span class="label {{get_label(berita.sentiment)}}">{{berita.keyword}}</span></span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3 class="text-center">Technology</h3>
		<div class="col-md-12 well">
			<highchart config="chart_tec" style="height: 250px"></highchart>
			<div style="margin-top: 15px">
				<span ng-repeat="berita in get_per_factor(4)"><span class="label {{get_label(berita.sentiment)}}">{{berita.keyword}}</span></span>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="text-center">Legal</h3>
		<div class="col-md-12 well">
			<highchart config="chart_leg" style="height: 250px"></highchart>
			<div style="margin-top: 15px">
				<span ng-repeat="berita in get_per_factor(5)"><span class="label {{get_label(berita.sentiment)}}">{{berita.keyword}}</span></span>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="text-center">Environment</h3>
		<div class="col-md-12 well">
			<highchart config="chart_env" style="height: 250px"></highchart>
			<div style="margin-top: 15px">
				<span ng-repeat="berita in get_per_factor(6)"><span class="label {{get_label(berita.sentiment)}}">{{berita.keyword}}</span></span> 
			</div>
		</div>
	</div>
</div>
