
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-12">
					<h1 class="text-center">KEYWORD SETTINGS</h1>
					<p class="text-center"><span class="lead" ng-show="is_loading">Loading. . .</span></p>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 30px">
			<div class="col-md-4">
				<div class="col-md-12">
					<form>
						<div ng-show="false" class="form-group">
							<label>PESTLE Analysis Factors:</label>
							<div class="radio">
								<label>
									<input type="radio" name="aspek" value="politic" ng-model="temp_metric.name">
									Politic
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="aspek" value="economy" ng-model="temp_metric.name">
									Economy
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="aspek" value="social" ng-model="temp_metric.name">
									Social
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="aspek" value="technology" ng-model="temp_metric.name">
									Technology
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="aspek" value="legal" ng-model="temp_metric.name">
									Legal
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="aspek" value="environment" ng-model="temp_metric.name">
									Environment
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="aspek" value="area" ng-model="temp_metric.name">
									Area (country/city)
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="aspek" value="sector" ng-model="temp_metric.name">
									Industry Sector
								</label>
							</div>
						</div>
						<div class="form-group">
							<label>Keyword:</label>
							<textarea class="form-control" rows="4" ng-model="temp_metric.keywords"></textarea>
							<span>separated with comma (,)</span>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="Add" ng-click="metric_add()">
							<button class="btn btn-warning" ng-click="clear_keywords()">Clear</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-8">
				<div class="col-md-12">
					<table class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th class="text-center">Factors</th>
								<th class="text-center">Keywords</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="metric in metrics">
								<td ng-click="get_metric(metric.name)"><a href="">{{metric.name}}</a></td>
								<td>
									{{metric.keywords}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>